
@{
    ViewData["Title"] = "Index";
}


@* Tarayıcı Refreshleyip Idlerin nasıl değiştiğini gözlemledik. *@


<div>
    <h1>Transient Service</h1>
    @ViewBag.Transient1
    <br />
    @ViewBag.Transient2
    <br />
    <h1>Scope Service</h1>
    @ViewBag.Scope1
    <br />
    @ViewBag.Scope2
    <h1>Singleton Service</h1>
    <br />
    @ViewBag.Singleton1
    <br />
    @ViewBag.Singleton2
</div>

